@model IEnumerable<OnlineSchool.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "수강생 통계";
}
<h2>@ViewBag.Title.</h2>

<table class="table">
    <tr>
        <th>
            수강신청일
        </th>
        <th>
            수강생
        </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>