
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>사용자 에러</title>
</head>
<body>
    <h2>사용자 에러</h2>
    <div> 
        시용자 에러가 발생했습니다. 다시 확인해주세요.
    </div>
</body>
</html>
